* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  background-color: #e5e5e5;
}

.wrapper {
  background: #fff;
  border-bottom-left-radius: 60px;
  margin-bottom: 114px;
}

li {
  list-style-type: none;
}

li a {
  text-decoration: none;
}

/** Start: Navbar **/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 9%;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
  text-decoration: none;
}

nav i {
  color: #6070ff;
  cursor: pointer;
}

nav ul {
  display: none;
}

/** End: Navbar **/

/** Start: main Section **/
.main {
  background: url("images/main-mbl-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  height: 100vh;
  padding: 0 9% 9%;
}

.main-section h1 {
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

/** main-section and about section p tag have same style **/

.main-section p,
.about p {
  color: #344563;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/** main-section main and about section h3 tag have same style **/

.main-section h3,
.about h3 {
  color: #7f8cff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.social-media {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  align-items: center;
}

/** End: main Section **/

/** Start: main Section **/
.work {
  display: grid;
  padding: 0 20px;
}

.card {
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 16px;
  gap: 12px;
  margin-bottom: 100px;
}

.card img {
  width: 100%;
}

.card-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 34px;
}

.card-inner h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: #172b4d;
}

.card-inner p {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  color: #7a869a;
}

p strong {
  color: #344563;
}

.fa-solid {
  color: #7a869a;
  margin: 0 5px;
}

.card-inner p.project-description {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

.card-inner ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 6px;
}

.card-inner li {
  list-style-type: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  color: #6070ff;
  background-color: #ebebff;
  padding: 4px 12px;
  border-radius: 8px;
}

.description-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tag-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

fieldset button {
  font-size: 17px;
  color: #6070ff;
  border: 0;
  background-color: #fff;
  padding: 12px 16px;
  width: 142px;
  border-radius: 8px;
  font-weight: 500;
  line-height: 24px;
}

/** work & about section input type="button" same style **/

.project-details-btn,
.get-resume-btn {
  display: flex;
  gap: 12px;
}

.get-resume-btn input,
.project-details-btn button {
  padding: 12px;
  background: #fff;
  border: 2px solid #396df2;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  cursor: pointer;
}

fieldset button:hover {
  color: #fff;
  background: #839ad3;
  cursor: pointer;
  transition-duration: 0.4s;
}

fieldset button:active {
  color: #fff;
  background: #2230d2;
  transition-duration: 0.4s;
}

.get-resume-btn input:hover,
.project-details-btn button:hover {
  color: #fff;
  background: #396df2;
  padding-left: 6px;
  padding-right: 18px;
}

.get-resume-btn input:active,
.project-details-btn button:active {
  color: #fff;
  background: #2230d2;
  border: 2px solid #2230d2;
  transition-duration: 0.5s;
}

/** End: main Section **/

/** Start: About Section **/

.about {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  padding: 27% 9.5%;
  border-top-right-radius: 60px;
}

.about-left {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about-left h2 {
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.about-right > ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.skills {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.skills li {
  list-style-type: none;
  display: flex;
  align-items: center;
  background: #f7f7f9;
  border-radius: 8px;
  padding-right: 150px;
  margin-bottom: 8px;
  gap: 8px;
}

.get-resume-btn {
  display: flex;
}

/** End: About Section **/

/**  Start: Form Section **/

.form-holder {
  background-color: #fff;
}

.form-wrapper {
  background-image: url("images/contact-form-background.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-color: #6070ff;
  display: flex;
  flex-direction: column;
  padding: 0 9%;
  border-top-left-radius: 60px;
}

.form-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 103px;
  color: #fff;
  padding: 0 4.1%;
}

.form-description h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.form-description p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.form-wrapper form {
  margin-top: 52px;
  margin-bottom: 32px;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 0;
}

.form-wrapper fieldset > *:not(:last-child) {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px 38px 15px 16px;
}

fieldset textarea {
  height: 140px;
}

.form-wrapper .finish-line {
  width: 134px;
  height: 5px;
  border-radius: 10px;
  background-color: #0d151e;
  margin-bottom: 8px;
  align-self: center;
}

/* --- End: Form Section --- */

/*************     Media Queries     *************************/

/** Start: Desktop Navbar **/

@media only screen and (width >= 768px) {
  .wrapper {
    margin-bottom: 114px;
    border-bottom-left-radius: 120px;
  }

  .container {
    max-width: 100%;
    width: 80%;
    margin: 0 auto;
  }

  nav {
    padding: 25px 0;
    display: flex;
  }

  .fa-bars {
    display: none;
  }

  nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
  }

  nav li {
    list-style-type: none;
  }

  nav a {
    text-decoration: none;
    color: #344563;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    padding: 8px;
  }

  nav a:hover {
    color: #6070ff;
  }

  /** End: Desktop header section **/

  /** Start: Desktop Main section **/

  .main {
    background-image: url("images/main-bg-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .main-section {
    margin: 0 auto;
    width: 63%;
    padding: 260px 0;
    gap: 12px;
    height: auto;
  }

  .main-section h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    width: max-content;
    transition: transform 2s;
  }

  .main-section p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .main-section h1 span {
    display: block;
  }

  /** End: Desktop Main section **/

  /** Start: Desktop Work section **/

  .work-history {
    grid-row-gap: 142px;
    padding: 24px;
  }

  .card {
    flex-direction: row;
  }

  .row-reverse {
    flex-direction: row-reverse;
  }

  .card img {
    max-width: 100%;
    width: 47%;
  }

  .card-inner {
    max-width: 100%;
    width: 47%;
    padding: 4.4% 0 5.4% 4.4%;
    gap: 24px;
  }

  .card-inner h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
  }

  .card-inner p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .card-inner p.detail {
    font-size: 16px;
  }

  .description-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .tag-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  /** End: Desktop Work section **/

  /** Start: Desktop About section **/

  .about {
    border-top-right-radius: 120px;
    padding: 142px 0;
  }

  .about-inner {
    max-width: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;
  }

  .about-right > ul {
    gap: 0;
  }

  .about-left {
    width: 48%;
  }

  .about-left .social-media {
    margin-top: 4px;
  }

  .about-right {
    width: 52%;
  }

  .skills-inner ul {
    display: flex;
    gap: 12px;
  }

  .skills {
    padding: 21px;
  }

  .skills-inner li {
    display: flex;
    flex-direction: column;
    padding: 12px;
  }

  .get-resume-btn {
    margin-top: 12px;
  }

  /** End: Desktop About section **/

  /** Start: Desktop Contact form section **/

  .form-wrapper {
    border-top-left-radius: 120px;
    background-image: url("images/desktop-contact-bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 11% 32% 9%;
  }

  .finish-line {
    display: none;
  }

  fieldset button {
    margin: 0 auto;
  }

  /** End: Desktop Contact form section **/
}
